/*Import Google Font cdn link */

@import url('https://fonts.googleapis.com/css2? family Poppins:wght@300;400; 500; 600; 700; 800&display=swap');
:root {
--primary-color: #99a98f;
--decent-color:#d6e8db;
--accent-color: #fff;
--secondary-color: rgb(9, 189, 9);
--font-family: 'Poppins', sans-seri;
--text-color:gray;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}
body{
    background: #fff;
    padding: 0 9%;
}
.header{
    width: 100%;
    padding: 1rem 0;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgb(148, 149, 142);
    background-color: rgb(40, 74, 108);
    color: #fff;
}
.header--bar{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    gap: 20px;
    
}
.header--bar .icon{
    margin-left: 20px; 
    width: 20px;
    height: 20px;
}
.header--bar h1 {
    margin-left: 10px;
    text-align: left;
}
.search--box{
    background: var(--decent-color);
    border-radius: 10px;
    flex-grow: 3;
    align-items: center;
    padding: 0 2rem;
    width: 90%;
    margin-left: 10px;
}
.search--box i{
    color: var(--primary-color);
   
}
.search--box input{
    background: transparent;
    padding: 10px;
    width: 90%;
}
.icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.icons i{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: white;

}
.fa-cart-shopping{
    background: transparent !important ;
    border: 1px solid var(--primary-color);
    color: white;
}
.cart-icon{
    position:relative;
}
.cart-icon span{
    background: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    right: -5px;
    top: -5px;
}

.cover{
    background-image:url('cover.webp');
    background-size: cover;
    height: 40vh;
    background-position: center;
    border-radius: 10px;
    margin-top: 10px;
}
.cover--overlay{
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    color:var(--accent-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.section-heading{
    font-size: 18px;
    text-transform: uppercase;
    margin: 1rem 0 10px 0;
    color: var(--text-color);
}
.products--list{
    display: flex;
    gap:12px;
    
}
.each--product{
    width: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border:2px solid var(--decent-color);
    padding: 10px 13px;
    border-radius: 10px;
    color: var(--text-color);
}
.each--product img{
    width: 100%;
}
 .card--list{
    display: flex;
    gap: 30px;
   /*flex-wrap:wrap;*/
    margin-bottom: 2rem;
    
 }
 .exploreMore { 
    background-color: #02283e;
    padding: 5px 5px;
    color: beige;
    margin-bottom: 2rem;

 }
 .explore--list {
    display: flex;
    gap: 60px;
 }
 .card{
    width: 210px;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background: var(--accent-color);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: var(--text-color);
 }
 .card img{
    width: 100%;
    height: 300px;
 }
 .card--price{
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10px 0px;

 }
 .card--price .price{
    color: var(--primary-color);
    font-weight: 600;
    justify-content: space-between;
    
 }
 .price{
    justify-content: space-between;
    
    
 }
 .add-to-cart{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgba(250, 226, 5, 0.762);
    color: rgb(245, 247, 255)
    ;
    padding: 7px 5px;
    cursor: pointer;
    
 }
 .add-to-cart:hover{
    color: var(--accent-color);
    box-shadow:rgba(255, 243, 243, 0.3) 0px 4px 4px, rgb(44, 112, 112)0px 0px 0px 3px;
 }
 .sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    top:0;
    /*right: 0px;*/
    right: -300px;
    background-color: var(--accent-color);
    box-shadow: -4px 0 6px rgba(0 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 .sidebar.open {
    right: 0;
 }
 .sidebar-close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor:pointer;
 }
 .cart-tems{
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-top: 1rem;
 }
 .individual-cart-item{
    display: flex;
    justify-content: space-betweeen;
    padding: 10px 5px;
    border-radius: 5px;
    color: var(--text-color);
    border:1px solid var(--decent-color);
}
.cart-item-price{
    color: var(--primary-color)
}
.sidebar--footer {
    position: absolute;
    bottom: 10px;
    width: 88%;
}
.total--amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--decent-color);
    border-radius: 5px;
    padding: 15px 10px;
}
.cart-total{
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
}
.cart-total {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
}
.checkout-btn{
    width:100%;
    margin-top: 2rem;
    background: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}



